
.cart-section{
    padding-top: 70px;
}
.icon-hover-primary:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover-primary:hover i {
  color: #3b71ca !important;
}
.icon-hover-danger:hover , .icon-hover-danger:active {
  border-color: #dc4c64 !important;
  color: #dc4c64;
  background-color: white !important;
}

.icon-hover-danger:hover i {
  color: #dc4c64 !important;
}

.recommended .card{
  height: 350px;
  aspect-ratio: 6/9;
  margin: 20px;
}