{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>E-mart | {% block title %}{% endblock title %} </title>
   
   <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}"></link>
   <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"></link>

   {% block linktags %}{% endblock linktags %}
    

   <link rel="apple-touch-icon" sizes="180x180" href="{%static 'media/favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'media/favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'media/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{%static 'media/favicon/site.webmanifest'%}">
     
    <script defer src="{%static 'js/fontawesome.js'%}"></script>
  </head>

  <body>
    <div class="message-container">
      {% if messages %}
      
      {% for message in messages %}
      <div class="modal d-block show fade border-{{message.tags}}" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-{{message.tags}}" id="staticBackdropLabel">{{message.tags}}!</h5>
              <button type="button" class="modal-close-button" onClick="closeModel()">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              {{message}}
            </div>
            <div class="modal-footer">
              <button onClick="closeModel()"type="button" class=" modal-close-button btn btn-{{message.tags}} text-white">Ok</button>
              
            </div>
          </div>
        </div>
      </div>

      {% endfor %}


      {% endif %}


    </div> 

    {% block body %}
    
    {% endblock body %}
    <div class="spinner" id="spinner"></div>
     

    <script src="{%static 'js/jquery-3.5.1.slim.min.js.map'%}"></script>
      <script src="{%static 'js/popper.min.js.map'%}"></script>
      <script src="{%static 'js/bootstrap.min.js.map'%}"></script>
      <script src="{%static 'js/signup.js'%}"></script>
      <script src="{%static 'js/home.js'%}"></script>
      {% block script_tags %}{% endblock script_tags %}
  </body>

</html>
