{% extends "index.html" %} 
{% load static %} 
{% block title %}Contact Us{% endblock title %} 
{% block linktags %} 
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}" />
{% endblock linktags %}
 {% block main%}

<section class="contact-section">
	<h1 class="main-heading">Contact Us</h1>
	<div class="row w-100 d-flex justify-content-end">
		<div class="col-12 col-sm-8 col-md-6">
			<form method="post" class="contact-form">
				{% csrf_token %}
				<div class="form-group">
					<label for="fullname">First Name</label>
					<input
						type="text"
						class="form-control"
						id="fullname"
						name="full_name"
						required />
				</div>
				
				<div class="form-group">
					<label for="email">Email address</label>
					<input
						type="email"
						class="form-control"
						id="email"
						aria-describedby="emailHelp"
						name="email"
						required />
					
				</div>
                <div class="form-group">
					<label for="user_message">Message</label>
					<textarea rows="3"
						type="text"
						class="form-control"
						id="message"
						name="user_message"
						required
						minlength="10" ></textarea>

                    <small id="emailHelp" class="form-text text-muted"
						>We'll never share your details with anyone.</small
					>    
				</div>
				<div class="text-center">
					<button
						type="submit"
						class="btn btn-outline-info"
						name="form"
						value="contact">
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock main %}
