{% extends "index.html" %} 
{% load static %} {% block linktags %} 
{% endblock linktags %}
{% block title %}Shop{% endblock title %} 
{% block main %}

<div class="products">
	<h2 class="text-center"> All products</h2>
	<div class="card-container row">
		{% if products %}
		{% for product in products %}
		<div class="co1-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
			<form class="card" method="get" action="{% url 'Product-details' %}">
				<div class="product-images">
					<img
						src="{{product.thumbnail}}"
						alt=""
						class="product-image"
						loading="lazy" />
				</div>
				<p class="product-title">{{product.title}}</p>
				<div>
					<span class="product-price">$ {{product.price}}</span>

					<span class="discount-percentage">
						{{product.discountPercentage}} % off</span
					>
				</div>
				<!-- Hidden input fields for form submission -->
				<input type="hidden" name="product_id" value="{{product.id}}" />
				<button type="submit" class="primary-button trans">Get Details</button>
			</form>
		</div>
		{% endfor %}
		{% else %}

		<div class="products-not-found">
			<h3>Oops!</h3>
			<p> " {{query}} "  not available.</p>
		</div>
		{% endif %}
	</div>
</div>

{% endblock main %}
