{% extends "base.html" %} 
{% load static %}

{% block linktags %}
<link rel="stylesheet" type="text/css" href="{%static 'css/contact.css'%}"></link>
{% endblock linktags %}
{% block title %}Home{% endblock title %} 

{% block body%}
    
    <header class="header">
      <nav class=" fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand order-sm-1 order-md-1 order-lg-1 order-xl-1" 
        href="{% if request.path == '/home/'%}#home{% else %}/home{% endif %}">
          <img class="logo" src="{% static 'media/images/emart_logo.png' %}" alt="logo" />
        </a>
        <div class="profile-icons order-sm-2 order-md-2 order-lg-3 order-xl-3">
              
            <i id="searchIcon" class="search-icon fa-solid fa-magnifying-glass"></i>
          
              <a class="fa-solid fa-user icon {% if request.path == '/profile/' %}active{% endif %}" href="/profile"></a>
              <a class="fa-solid fa-cart-shopping icon {% if request.path == '/cart/' %}active{% endif %}" href="/cart"></a>
            </div>

        <button
          class="navbar-toggler order-sm-3 order-md-3 order-lg-2 order-xl-2"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon order-sm-3 order-md-3 order-lg-2 order-xl-2"></span>
        </button>

        <div class="collapse navbar-collapse order-sm-3 order-md-3 order-lg-2 order-xl-2" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/home/' %}active{% endif %}"
               href="{% if request.path == '/home/'%}#{% else %}/home{% endif %}">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" 
              href="{% if request.path == '/about/'%}#{% else %}/about{% endif %}">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/shop/' %}active{% endif %}" 
              href="{% if request.path == '/shop/'%}#{% else %}/shop{% endif %}">
                SHOP
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" 
              href="{% if request.path == '/contact/'%}#{% else %}/contact{% endif %}" tabindex="-1">CONTACT US</a>
            </li>
          </ul>
             
        </div>
        
      </nav>
      <form method = "get" action="{% url 'search'%}" id="searchBar" class="form-inline trans search-bar d-none">
            <input
            id="search-input"
            class="search"
            type="search"
            placeholder="Search ..."
            name="q"
            />
            <i class="fa-solid fa-xmark icon" id="closeBtn"></i>
            <button id="searchBtn" name="form" value="search" class="d-none" type="submit"></button>
      </form>
    </header>
    <main class="main-container" id="home">
        {% block main %}
        <div class="landing-bg" >
          
          <h1 class="main-heading">Elevate Your Style, Elevate Your Savings. Shop Now!</h1>
          <a class="primary-button" href="#categories">SHOP NOW</a>

          <div class="passage">
            <p class="para">Explore endless possibilities with our curated selection. 
              Unleash your style, find unbeatable deals, and redefine your shopping experience today!</p>
          </div>

        </div>
        <div class="categories" id="categories">
          <h1>Categories</h1>
        <div class="card-container row justify-content-md-center">
          {% for category in categories %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
              
              <form method="get" action="{% url 'shop' %}" class="category-card" style="background-image: url('{{category.image}}');" loading="lazy">
                <span class="category-name">{{category.name}}</span>
                <div class="text-center">
                  <!-- hidden input -->
                  <input type="hidden" value="{{category.name}}" name="category" />
                  <button type ="submit" class="primary-button " name = "form" value="category">show More</button>
                </div>
              </form>
            </div>
            {% endfor %}
          </div>
        </div>
        
       
        
        {% endblock main %}
      </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'media/images/logo_emart_fresh.png' %}" />
                    <p>
                      Discover our premium products with unmatched quality and unbeatable prices. Elevate your lifestyle today. Explore now for exclusive deals! </p>
                </div>
                <div class="col-md-3">
                  <h5>Address</h5>
                  <address>
                    <div class="line">
                      <i class="fa-solid fa-location-dot"></i>
                      <p>1/11 street, Hyderabad, Telangana 500001</p>
                    </div>
                    <div class="line">
                      <i class="fa-solid fa-envelope"></i>
                      <p>mahesh@emart.com</p>
                    </div>
                    <div class="line">
                      <i class="fa-solid fa-phone"></i>
                      <p>(123) 456-7890</p>
                    </div>
                  </address>
                </div>

                <div class="col-md-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% if request.path == '/home/'%}#home{% else %}/home{% endif %}">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="{% if request.path == '/contact/'%}#home{% else %}/contact{% endif %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="text-center">Connect With Us</h5>
                    <ul class="list-unstyled services">
                        <li><a href="#" target="_blank" class="social"><i class="fa-brands fa-facebook icon"></i></a></li>
                        <li><a href="#" target="_blank" class="social"><i class="fa-brands fa-x-twitter icon"></i></a></li>
                        <li><a href="#" target="_blank" class="social"><i class="fa-brands fa-instagram icon"></i></a></li>
                        <li><a href="#" target="_blank" class="social"><i class="fa-brands fa-youtube icon"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Other services</h5>
                    <ul class="list-unstyled services">
                      <li><a href="#" class="service-logo"><img src="{% static 'media/images/emart_everydaylogo.jpg' %}" alt="service"/></a></li>
                      <li><a href="#" class="service-logo"><img src="{% static 'media/images/emart_wholesale_fasion.png' %}" alt="service"/></a></li>
                      <li><a href="#" class="service-logo"><img src="{% static 'media/images/emart_text.png' %}" alt="service"/></a></li>
                      <li><a href="#" class="service-logo"><img src="{% static 'media/images/emart_strategies_logo.png' %}" alt="service"/></a></li>
                      <li><a href="#" class="service-logo"><img src="{% static 'media/images/emart_logo_text.png' %}" alt="service"/></a></li>
                    </ul>
                </div>
            </div>

            

            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 <img src="{% static 'media/images/footer_logo_emart.png' %}" class="footer-logo" /> Company. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Designed and Developed by &#10084; <a href="https://mahesh-maddhi.github.io/my-portfolio/" target="_blank"> Mahesh Maddhi</a></p>
                </div>
            </div>
        </div>
    </footer>

{% endblock body %}
