{% extends "index.html" %}
{% load static %}
{% block linktags %}{% endblock linktags %}
{% block main %}

<div class="products">
     <div class="card-container row ">
          
          {% for product in products %}
          <div class="co1-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
              <div class="product-images">
              <img 
              
              src="{{product.thumbnail}}" alt="" class="product-image" loading="lazy">
              </div>
              <h4 class="product-title">{{product.title}}</h4>
              <div>
              <span class="product-price">$ {{product.price}}</span>
              <span class="category"> * {{product.category}}</span>
              </div>
              <button class="primary-button trans">Add to Cart</button>
            </div>
          </div>
          {% endfor %}
        </div>
</div>

{% endblock main %}

