{% extends "base.html" %} 
{% load static %}
{% block title %}User Register{% endblock title %} 
{% block linktags %}<link href="{%static 'css/signup.css'%}" rel="stylesheet">{% endblock linktags %}
{% block body%}
	<div class="login-page">
  <div class="form">
    <h1 class="heading">Ecommerce</h1>
    
    <form class="login-form" method="post">
      {% csrf_token %}
      <input type="text" placeholder="Username" name = "username" required/>
      <input type="email" placeholder="user@gmail.com" name = "email" required/>
      <input type="password" placeholder="Enter Password" required/>
      <div class="password-container">
        <input id= "password" type="password" placeholder="Confirm Password" name = "password" required/>
        <i class="fa-solid fa-eye icon " id="eyeOpenIcon"></i><i class="fa-solid fa-eye-slash icon d-none" id="eyecloseIcon"></i>

      </div>
      <button type = "submit">Sign Up</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>
{% endblock body %}