
.contact-section{
    padding-top: 70px;
    background-image: url("/static/media/images/contact-us-bg.d4e276d0164e.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}
.main-heading{
    text-align: center;
    /* text-shadow: 0px 0px 10px rgb(87, 87, 87); */
    font-size: 25px;
    font-family: "poppins" !important;
    font-weight: bold;
}
.contact-form{
    border: 2px solid #9CC8D6;
    padding: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin: 10px auto;
    max-width: 350px;
    box-shadow: 0px 0px 10px rgb(154, 154, 154);
}
.form-group input, .form-group textarea{
    background-color: rgba(196, 235, 248,0.1);
}

.form-group label{
    font-weight: 500;
}